* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #042c2c;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .LogoName {
    margin-left: 20px;
    font-weight: 800;
    font-size: 2rem;
    color: #6b71c4;
    letter-spacing: 2px;
   }

  ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 65%;
    margin-right: 10px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      font-size: 20px;
      padding: 0px 10px;
      width: 80px;
      background-color: rgb(83, 86, 102);
      background-image: radial-gradient(
          93% 87% at 87% 89%,
          rgba(0, 0, 0, 0.23) 0%,
          transparent 86.18%
        ),
        radial-gradient(
          66% 87% at 26% 20%,
          rgba(255, 255, 255, 0.41) 0%,
          rgba(255, 255, 255, 0) 69.79%,
          rgba(255, 255, 255, 0) 100%
        );
      box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s;

      .listBtn {
        border: none;
        outline: none;
      }
      a,
      .listBtn {
        color: #ffffff;
        text-decoration: none;
      }
    }
    li:hover {
      background-color: #05eeff;

      a:hover {
        color: #000;
      }
    }
  }
}
