.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 93vh;
  background-color: rgb(3, 22, 22);
}
.login_container h1 {
  font-size: 3rem;
  font-family: "Merienda", sans-serif;
  margin: 1rem auto;
  border-radius: 5%;
  color: #fffefe61;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#45f3ff91),
      to(#05eeff),
      color-stop(0.8, #05383b)
    )
    no-repeat;

  background-size: 150px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 3.5s infinite;
}
@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.login_container .login_box {
  position: relative;
  width: 380px;
  background-color: beige;
  height: 420px;
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.login_container .login_box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #45f3ff);
  transform-origin: bottom right;
  animation: animate 2s linear infinite;
}
.login_container .login_box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #45f3ff);
  transform-origin: bottom right;
  animation: animate 2s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login_container .login_box form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #28292d;
  z-index: 10;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}
.login_box form h2 {
  color: #45f3ff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}
.login_box form .inputBox {
  position: relative;
  width: 280px;
  margin-top: 30px;
}
form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1rem;
  letter-spacing: 0.05em;
  z-index: 10;
}

form .inputBox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

form .inputBox input:valid ~ span,
form .inputBox input:focus ~ span {
  color: #45f3ff;
  transform: translateX(-1px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 44px;
}
form .login_links {
  display: flex;
}

form .login_links .linkTo {
  margin: 10px 0;
  font-size: 0.8em;
  font-weight: 500;
  color: #8f8f8f;
  text-decoration: none;
}

form .login_links .linkTo:hover {
  color: #45f3ff;
}

button {
  bottom: none;
  border: none;
  outline: none;
  background: #45f3ff;
  padding: 11px 25px;
  width: 100px;
  margin-top: 10px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  bottom: none;
  border: none;
  outline: none;
  background: #59696b56;
  color: #45f3ff;
  padding: 11px 25px;
  width: 100px;
  margin-top: 10px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.login_container  .log_back_btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  font-weight: 600;
  background-color: #5aa8ad;
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
}
.login_container .log_back_btn:hover {
  bottom: none;
  border: none;
  outline: none;
  background: #59696b56;
  color: #45f3ff;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}